/* ===============
General Styles
=============== */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
body,
header,
.top,
.landing,
main,
#portfolio,
.project,
#skills,
footer {
    display: flex;
    flex-flow: column;
    align-self: center;
    align-items: center;
}
p {
    text-align: center;
    color: rgb(124, 124, 124);
}
.landing p {
    font-size: 1.3rem;
    line-height: 1.3;
}
h1,
h2,
h3,
a {
    font-family: 'Open Sans', sans-serif;
    color: rgb(54, 54, 54)
}
h1,
h2,
a {
    font-weight: 700;
}
h3 {
    font-weight: 500;
    font-size: 1.1rem;
}
h2 {
    font-size: 1rem;
}

nav li {
    list-style: none;
    display: block;
    width: 100%;
    padding: .7em 0;
    margin-bottom: .3em;
    background-color: white;
    text-align: center;
}
a {
    text-decoration: none;
}
/* ===============
Header Styles
=============== */
header {
    width: 100vw;
    padding-bottom: 1.2em;
    align-items: center;
    background-color: rgb(246, 246, 246);
}
.top {
    width: 90%;
}
h1 {
    margin: .6em 0 .1em;
    font-size: 1.7rem;
}
.main-nav {
    width: 100%;
}
.main-nav ul {
    padding: 0;
}
.main-nav li:hover {
    background-color: skyblue;
    transition: .3s;
}
.main-nav a:active {
    color: white;
}
.landing {
    align-items: center;
    width: 90%;
}
.profile {
    width: 65vw;
    margin-top: 1.2em;

}
/* ===============
Main Styles
=============== */
main {
    width: 90vw;
    align-items: center;
}
main h2 {
    margin: 2.2em 0;
}
.project {
    align-items: center;
}
.project img {
    width: 100%;
    margin-top: .8em;
}
.project h3 {
    margin: 1.5em 0 0;
}
.project p {
    color: rgb(92, 92, 92)
}
#skills {
    width: 80%;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    border-width: 90%;
    padding: 2em 0;
}
.skills-bg {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 1em;
    background-color: slategrey;
}
.skill {
    min-width: 45%;
    height: 20%;
    margin-bottom: .3em;
    border-radius: 25px;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-shadow: 0 5px slategray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.skill:hover {
    transition: .3s;
    box-shadow: 0 5px pink;
}
.html {
    background-color:skyblue;
}
.css {
    background-color: hsl(12, 100%, 65%);
}
.js {
    background-color: rgb(143, 173, 185)
}
/* ===============
Footer Styles
=============== */
footer {
    width: 100vw;
    align-items: center;
    margin-top: 3em;
    background-color: rgb(246, 246, 246);
}
#contact h2 {
    margin-top: 3.7em;
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact a {
    font-weight: 400;
    text-decoration: none;
    color: rgb(124, 124, 124);
}
#contact address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
footer hr {
    height: 1px;
    margin: 4em 0 1em;
    border: none;
    width: 90%;
    background-color: lightgrey;
}
.bottom {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.foot-nav {
    display: none;
}
/* ===============
Media Queries
=============== */
@media screen and (min-width: 768px) {
    .top {
        display: flex;
        justify-content: space-between;
    }
    .main-nav {
        width: fit-content;
        padding-left: 2em;
    }

    nav ul {
        display: flex;
        justify-content: center;

    }
    .landing {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav li {
        width: fit-content;
        background-color:transparent;
        margin-right: 1.5em;
    }
    .main-nav li:hover {
        background-color: transparent;
    }
    nav ul a:hover {
        opacity: .7;
        transition: .3s;
    }
    .foot-nav li:last-child {
        margin-right: 0;
    }
    .landing p {
        order: -1;
        margin-top: 1em;
        margin-right: .5em;
        align-self:flex-start;
    }
    #portfolio {
        flex-flow: row wrap;
        align-items:center;
    }
    .project {
        flex: 1 50%;
        margin: 0 0 auto;
        padding: .5em;

    }
    .skills-bg {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .skill {
        flex: 1;
        height: 10vh;
        font-size: 3em;
        margin-right: .3em;
        margin-bottom: .3em;
    }
    .html {
        margin-left: .3em;
    }
    .js {
        max-width: 50%;
    }
    .project img {
        margin-top: 0;
    }
    .contact p {
        font-size: 1.3em;
    }
    .bottom a:nth-child(2) {
        display: none;
    }
    .foot-nav {
        display: flex;
        justify-content: flex-end;
    }

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(246, 246, 246);
    }
    .top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
        width: 90%;
    }
    .top h1 {
        margin: 0;
    }
    .main-nav li{
        margin: 0 1.5em 0 0;
    }
    .main-nav ul li:last-child {
        margin-right: 0;
    }
    .profile {
        max-width: 450px;
    }
    .skill {
        flex: 1 30%;
        min-width: 0;
    }

    .foot-nav ul {
        display: flex;
    }
    main {
        background-color: white;
    }
    .project {
        flex: 1 33%;
    }

}
}
/* ===============
Notes:
-Finish links and nav hover
-Check for exceeds
=============== */